<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags({
        :title => "Lovers app" ,
        :description => '',
        :keywords => '',
        :viewport => "width=device-width, initial-scale=1.0",
    })
  %>
  <%= stylesheet_link_tag    'sp/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'sp/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <div class="content">
    <div class="menu">
      <i class="fi-list"></i>
    </div>

    <div class="logo">
      <a href="/"><%= image_tag 'logo.png'  %></a>
    </div>

    <div class="search">
      <i class="fi-magnifying-glass"></i>
    </div>
  </div>
</div>

<div id="wrapper">
  <%= yield %>
</div>

<div id="footer">
  Copyright 100 kintu. All Right Reserved.
</div>

</body>
</html>
