<!DOCTYPE html>
<html>
<head>
  <title>LoversApp</title>
  <%= stylesheet_link_tag    'pc/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'pc/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
  <div id="header">

    <div class="logo">
      <a href="/"><%= image_tag 'logo.png'  %></a>
    </div>

    <div class="search">
      <input name="keyword" class="search-keyword" value="" type="text">  
      <i class="fi-magnifying-glass"></i>
    </div>

    <ul>
      <li class="header-login">
        <a href="/users/login"><i class="fi-torso"></i><br>ログイン</a>
      </li>
      <li class="header-signup">
        <a href="/users/signup"><i class="fi-plus"></i><br>新規登録</a>
      </li>
    </ul>
  </div>

  <%= yield %>
</div>

<div id="footer">
  Copyright 100 kintu. All Right Reserved.
</div>

</body>
</html>
